@inject ServersService ServersService
@inject NavigationManager NavigationManager
@page "/servers/{ServerName}/crush"
@using BestCrush.Services

<div class="container">
    Crush
    Server @ServerName
</div>

@code {

    [Parameter]
    public required string ServerName { get; set; }

}