@page "/not-found"
@using BestCrush.Components.Layout
@layout SimpleLayout

<div class="container">
    <div class="text-center my-4">
        Une erreur s'est produite, <a href="/">retourner à l'accueil</a>.
    </div>
</div>