@inject ServersService ServersService
@inject NavigationManager NavigationManager
@page "/servers/{ServerName}/sales"
@using BestCrush.Services

<div class="container">
    Sales
    Server @ServerName
</div>

@code {

    [Parameter]
    public required string ServerName { get; set; }

}