@inject ServersService ServersService
@inject NavigationManager NavigationManager
@page "/"
@using BestCrush.Components.Layout
@using BestCrush.Domain.Services
@using BestCrush.Models
@using CommunityToolkit.Mvvm.Messaging
@using DofusSharp.Dofocus.ApiClients.Models.Servers
@layout EmptyLayout

<div class="d-flex flex-column align-items-center justify-content-center text-center min-vh-100">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    @_message;
</div>

@code {

    string? _message;

    protected override void OnInitialized() => WeakReferenceMessenger.Default.Register<InitializationState>(this, OnInitializationState);

    public void OnInitializationState(object _, InitializationState state)
    {
        _message = state.Message;

        if (state.Done)
        {
            DofocusServer? currentServer = ServersService.GetCurrentServer().GetAwaiter().GetResult();
            if (currentServer is not null)
            {
                NavigationManager.NavigateTo(KnownRoutes.Server(currentServer));
            }
            else
            {
                NavigationManager.NavigateTo(KnownRoutes.Servers());
            }
        }
    }

}