@inject ServersService ServersService
@inject InitializationStateManager InitializationStateManager
@inject NavigationManager NavigationManager
@page "/"
@using BestCrush.Components.Layout
@using BestCrush.Domain.Services
@using BestCrush.Services
@using DofusSharp.Dofocus.ApiClients.Models.Servers
@layout EmptyLayout

<div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center gap-4 text-center py-5">
    <img src="img/logo-684.png" width="684" height="684" alt="Logo"/>
    @_message
</div>

@code {

    string? _message;

    protected override async Task OnInitializedAsync()
    {
        InitializationState state = InitializationStateManager.GetState();
        await Update(state);

        InitializationStateManager.RegisterCallback(OnInitializationState);
    }

    async Task Update(InitializationState state)
    {
        _message = state.Message;

        if (state.Done)
        {
            DofocusServer? currentServer = await ServersService.GetCurrentServer();
            if (currentServer is not null)
            {
                NavigationManager.NavigateTo(KnownRoutes.Server(currentServer));
            }
            else
            {
                NavigationManager.NavigateTo(KnownRoutes.Servers());
            }
        }
        else
        {
            StateHasChanged();
        }
    }

    async void OnInitializationState(InitializationState state) => await InvokeAsync(() => Update(state));
}