@using BestCrush.Domain.Models
@using BestCrush.Models
<div class="position-relative">
    <ItemIcon Item="Item" Size="Size" Background="IconBackground.Slot"></ItemIcon>
    <div class="position-absolute top-0 start-0 text-bg-dark bg-opacity-25 fs-6 fw-semibold px-1">
        @Count.ToString("0.##")
    </div>
</div>

@code {

    [Parameter]
    public required IItem Item { get; init; }

    [Parameter]
    public required double Count { get; init; }

    [Parameter]
    public IconSize Size { get; init; } = IconSize.Medium;

}