@inherits LayoutComponentBase

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="mb-2 mb-md-0">
            <img src="img/logo-48.png" width="48" height="48" alt="Logo"/>
        </div>
    </header>
</div>

@Body